// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
    font-family: 'Nanum Pen Script', cursive;
}

.navigation {
    font-family: 'Nanum Pen Script', cursive;
}

// 게시판 css

.new_board {
    margin-top: 10rem;
}

#board_name {
    padding-top: 3rem;
    padding-bottom: 3rem;
}