// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    background-image: url(/assets/slide/1);
    background-repeat: no-repeat;
    
}

header {
    font-family: 'Nanum Pen Script', cursive;
}

.navigation {
    font-family: 'Nanum Pen Script', cursive;
}

// 글 내용

input{
    font-size: 25px;
    color: black;
}
textarea{
    font-size: 25px;
    color: black;
}

// 게시판 css

.section_back{
    background-image: url(/assets/slide/1);
}

.new_board {
    margin-top: 7rem;
    font-family: 'Nanum Pen Script', cursive;
}

#board_name {
    font-size: 5rem;
    color: white;
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-family: 'Nanum Pen Script', cursive;
}

.board_content{
    color: white;
    font-size: 3rem;
    background-color: rgb(50, 50, 50);
    opacity: 0.7;
   padding-top: 4rem;
    padding-bottom: 4rem;
    // padding-left: 13rem;
    padding-right: 0rem;
    margin-left: 13rem;
    margin-right: 13rem;
    margin-bottom: 2rem;
    // text-align: left;
    font-family: 'Nanum Pen Script', cursive;
    height: 400px;
    
}
.board_content_1{
    color: white;
    font-size: 3rem;
    background-color: rgb(50, 50, 50);
    opacity: 0.7;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 13rem;
    padding-right: 0rem;
    margin-left: 13rem;
    margin-right: 13rem;
    margin-bottom: 2rem;
    text-align: left;
    font-family: 'Nanum Pen Script', cursive;
    
    height: 400px;
}


.e_d_button{
    padding-bottom: 2rem;
}