<!DOCTYPE html>
<html>
<!--<html class="desktop mbr-site-loaded">-->
  <head>
    <title>Kyeul' homework: no_name_project</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
    <!--폰트-->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet">
    <!--폰트 끝-->
    
    <!--<meta charset="utf-8">-->
    <!--<title>Groovin one page bootstrap template</title>-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- styles -->
    <link rel="stylesheet" href="assets/stylesheets/fancybox/jquery.fancybox.css">
    <link href="assets/stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="assets/stylesheets/bootstrap-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/stylesheets/slippry.css">
    <link href="assets/stylesheets/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/color/default.css">
    <!--모달-->
   
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
     <!--시험-->
    <!--<link rel="stylesheet" href="./HTML Bootstrap eCommerce Page 1 Template_files/style(1).css">-->
    <!--<link rel="stylesheet" href="./HTML Bootstrap eCommerce Page 1 Template_files/mbr-additional.css" type="text/css">-->
  <!--실험 끝-->
  <!--출처: http://scriptmoa.tistory.com/112#comment13069428 [스크립트 모아]-->
    <!-- =======================================================
      Theme Name: Groovin
      Theme URL: https://bootstrapmade.com/groovin-free-bootstrap-theme/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
    <script src="assets/javascripts/modernizr.custom.js"></script>
    
    <style type="text/css">
     a:link { color: white; text-decoration: none;}
     a:visited { color: white; text-decoration: none;}
     a:hover { color: white; text-decoration: underline;}
    </style>

    
  </head>
  <body>

  <%= yield %>
  
    <!-- javascript -->
    <!--모달 시작-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script> 
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 
    <script src="http://googledrive.com/host/0B-QKv6rUoIcGREtrRTljTlQ3OTg"></script><!-- ie10-viewport-bug-workaround.js --> 
    <script src="http://googledrive.com/host/0B-QKv6rUoIcGeHd6VV9JczlHUjg"></script><!-- holder.js -->
    <!--모달 끝-->
    <script src="assets/javascripts/jquery-1.9.1.min.js"></script>
    <script src="assets/javascripts/jquery.easing.js"></script>
    <script src="assets/javascripts/classie.js"></script>
    <script src="assets/javascripts/bootstrap.js"></script>
    <script src="assets/javascripts/slippry.min.js"></script>
    <script src="assets/javascripts/nagging-menu.js"></script>
    <script src="assets/javascripts/jquery.nav.js"></script>
    <script src="assets/javascripts/jquery.scrollTo.js"></script>
    <script src="assets/javascripts/jquery.fancybox.pack.js"></script>
    <script src="assets/javascripts/jquery.fancybox-media.js"></script>
    <script src="assets/javascripts/masonry.pkgd.min.js"></script>
    <script src="assets/javascripts/imagesloaded.js"></script>
    <script src="assets/javascripts/jquery.nicescroll.min.js"></script>
    <script src="assets/javascripts/AnimOnScroll.js"></script>
    <script>
      new AnimOnScroll(document.getElementById('grid'), {
        minDuration: 0.4,
        maxDuration: 0.7,
        viewportFactor: 0.2
      });
    </script>
    <script>
      $(document).ready(function() {
        $('#slippry-slider').slippry(
          defaults = {
            transition: 'vertical',
            useCSS: true,
            speed: 5000,
            pause: 3000,
            initSingle: false,
            auto: true,
            preload: 'visible',
            pager: false,
          }
  
        )
      });
    </script>
  
    <script src="assets/javascripts/custom.js"></script>
    <script src="contactform/contactform.js"></script>
    <!--시험-->
    <!--<script src="./HTML Bootstrap eCommerce Page 1 Template_files/jquery.min.js.다운로드"></script>-->
    <!--<script src="./HTML Bootstrap eCommerce Page 1 Template_files/typed.min.js.다운로드"></script>-->
    <!--<script src="./HTML Bootstrap eCommerce Page 1 Template_files/saved_resource"></script>-->
    <!--<script src="./HTML Bootstrap eCommerce Page 1 Template_files/script.js(1).다운로드"></script>-->
    <!--시험-->
  
  </body>
</html>
